*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.378);
    position: sticky;
    top: 0px;
}

.main_menu{
    display: flex;
}

li{
    margin: 20px;
}

li>a{
    font-size: 20px;
    font-weight: medium;
    font-family: 'Roboto';
   
}

.logo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid red;
}

.bg_img{
    background:url(./nice\ pic.avif);
    background-size: cover;
    /* height: 1000px;
    width: 100%; */
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 

.text img{
    height: 200px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
    margin-top: 10px;
}

.colour{
    margin-top: 30px;
    color: #111416;
    font-size: 35px;
}

.colour h1{
    margin-top: 50px;
    margin-left: 90px;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.colour p{
    font-size: 35px;
    color:white;
    margin-top: 40px;
}


.fa-shopping-cart{
    color: white;
    margin-left: 50px;
}


.hero_area{
    height: 800px;
    text-align: center;
    justify-content: center;
    margin-top: 300px;
}

.dropdown_main{
    position: relative;
}

.dropdown_menu{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.dropdown_main:hover .dropdown_menu{
    display: block;
}

.main_1{
    position: relative;
}

.menu_1{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.main_1:hover .menu_1{
    display: block;
}

.main_2{
    position: relative;
}

.menu_2{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.main_2:hover .menu_2{
    display: block;
}


.main_3{
    position: relative;
}

.menu_3{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.main_3:hover .menu_3{
    display: block;
}

.main_4{
    position: relative;
}

.menu_4{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.main_4:hover .menu_4{
    display: block;
}

.main_5{
    position: relative;
}

.menu_5{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.main_5:hover .menu_5{
    display: block;
}

.main_6{
    position: relative;
}

.menu_6{
    position: absolute;
    width: 300px;
    background: rgb(230, 125, 125);
    display: none;
}

.main_6:hover .menu_6{
    display: block;
}

.photo_paragraph{
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}

.ppp{
    font-size: 90px;
    font-weight: 50;
    color: brown;
}

.ppp_ppp{
    font-size: 50px;
    font-weight: 30;
    color: brown;
    margin-left: -180px;
}

.photo_paragraph hr{
    width: 100px;
    border: none;
    border-bottom: 3px solid orange;
    margin-left: 265px;
}

.part_2{
    display: flex;
}

.headernice{
    background-color: rgb(244, 246, 241);
    height: 700px;
    padding: 30px;
}

.first_picture{
    height: 250px;
    width: 320px;
}

.second_picture{
    height: 150px;
    width: 150px;
}

/* .item_pic{
    height: 400px;
    width: 515px; */


.second_boxpic{
    display: flex;
    border: darkmagenta;
}

.discription{
    padding: 35px;
    font-size: 20px;
    color: #000;
    font-style: italic;
}

.name{
    font-size: 30px;
    font-weight: 100;
    font-style: inherit;
    padding: 20px;
    margin-left: 200px;
    color: darkred;
}

.back_pic{
    background: url();
    width: 100%;
    height: 600px;
    background-size: cover;
}

.todays{
    font-size: 60px;
    font-weight: 50;
    color: #000;
    text-align: center;
}

.about{
font-size: 50px;
font-weight: 30;
color: #000;
text-align: center;
}

.photo_2{
 height: 250px;
 width: 250px;
}

.your_class{
    margin-top: -300px;
}

.slider_section{
    background: url(./back\ 2.avif);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
}

.slider_section img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.slider_section h1{
    font-size: 60px;
    color: white;
    padding-top: 100px;
}

.reser{
    text-align: center;
    
}

.container{
    background-color: rgb(247, 213, 213);
    border: 1px solid rgb(39, 4, 4);
    height: 500px;
    width: 1600px;

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-left: 50px;
    margin-top: 40px;
    gap: 20px;
    font-size: 30px;

}  

.user_details{
    margin-top: 100px;
    font-family: 'roboto';
    font-style: italic;
    font-size: 24px;
    margin-top: 30px;

}

.password{
    width: 250px;
    height: 40px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border: none;
    background-color: antiquewhite;

}

.full_container{
    margin-top: 100px;
    display: flex;
    gap: 40px;

}

.fa-clock-o:before{
    content: "\f017";
    margin-left: -40px;
}

.fa-phone:before{
    content: "\f095";
    margin-left: -40px;
}

.fa-user:before{
    content: "\f007";
    margin-left: -40px;
}

.fa-envelope-o:before{
    content: "\f003";
    margin-left: -40px;
}

.fa-edit:before, .fa-pencil-square-o:before{
    content: "\f044";
    margin-left: -40px;
}

.make_reservation{
    margin-top: -100px;
    margin-left: 30px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: rgb(243, 71, 8);
}

.slider_section_bg_img{
    background: url(./bg\ img\ 2.avif);
    height: 600px;
    width: 100%;
    background-size: cover;
}

.slider_section_bg_img_transparent{
    height: 500px;
    width: 100%;
    background-size: cover;
    background-color: blueviolet;
}

.restrurant_slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restrurant{
    font-weight: 200px;
    color: blue;
    font-size: 40px;
}

.paragraph{
    font-size: 30px;
    color: aliceblue;
}

.under_line{
    width: 200px;
    height: 2px;
    background: brown;
    margin-top: 10px;
}


/* four part */

.your_class{
    margin: 40px;
    display: flex;
}

.your_class div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.your_class div img{
    width: 1000px;
    height: 500px;
    margin: 0 auto;

}

.box{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
    display: flex;
    margin-top: 100px;
    margin-left: 300px;

    
}

.box2{
    height: 340px;
    width: 800px;
    margin-top: -200px;
    background-color: bisque;
    margin-left: 300px;
}

.box2 h1{
    font-size: 30px;
    margin-left: 300px;
    color: black;
}

.box2 h2{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 300px;
    color: black;
}

.margin4{
    margin-left: 300px;
    margin-top: 90px;
}

.bto{
    padding: 10px 20px;
    background: white;
    border: 2px solid palevioletred;
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
}

.bto_box{
    margin-top: -30px;
}

.margin{
    margin-top: 20px;
    margin-left: 130px;
}
.order_now{
    background-color: blueviolet;
}

.slider_one{
    display: flex;
    height: 350px;
    width: 500px;
    margin-top: 150px;
    margin-left: 200px;
}

.slick-prev::before,
.slick-next::before {
    color: #f4ededd4;
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 200px;
}

/* five part */

.third_background_img{
    background: url(./food\ bac.avif);
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    background-size: cover;
    margin-top: 50px;
}

.third_background_img_transparent{
    background-color: #000;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    background-size: cover;
}

.our_featuris{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #dad3d3;
    text-shadow: 1px 2px solid purple;
}

.our_featuuris h1{
    display: flex;
    font-size: 40px;
    font-style: bold;
    margin-top: 50px;
    color: #f9f8f8;
}

.our_featuuris p{
    font-size: 80px;
    font-style: bold;
    margin-top: 50px;
    color: #f9f8f8;
}

.features_hr{
    border: 2px solid purple;
    width: 100px;
    margin-top: 10px;
}

.our_fetures_div{
    margin-top: 50px;
    background-color: antiquewhite;
    height: 550px;
    width: 320px;
    align-items: center;
}

.our_fetures_div img{
    height: 250px;
    width: 300px;
    margin-left: 12px;
    margin: 10px;
}

.our_fetures_div_two{
    height: 250px;
    width: 300px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.our_fetures_div_two h1{
    font-size: 25px;
}

.our_fetures_div_two hr{
    border: 2px solid red;
    width: 100%;
    margin-left: 5px;
}

.our_fetures_div_two p{
    margin-top: 20px;
}

.features_flex{
    display: flex;
    gap: 40px;
    margin-left: 250px;
}

/* six part */

.our_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main_topic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;
}

.our_menu h1{
    font-size: 55px;
    color: black;
}

.our_menu p{
    font-size: 21px;
    color: rgb(107, 17, 217);
}

.our_menu hr{
    border: 2px solid orange;
    width: 100px;
    margin-top: 10px;
    margin: 20px;
}

.our_menu_ul{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_menu_ul a{
    font-size: 20px;
    font-style: italic;
    color: black;
    margin-top: 20px;
  
}

.our_menu_type{
    display: flex;
    margin-top: 40px;
    
}

.topic{
    display: flex;
}

/* .our_menu_type h1{
    border: 1px dashed rgb(26, 21, 21); */


.our_menu_type p{
    font-size: 10px;
    color: antiquewhite;
}

.our_menu_type hr{
    width: 100px;
    border-bottom: rgb(255, 93, 39);
    margin-left: 25px;
    
}

.our_full_menu{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.expiore_menu_buttom{
    font-size: 30px;
    color: white;
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 650px;
}

/* seven part */

.trusted_by_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .topic{
    display: flex;
} */

.trusted_by_div h1{
    font-size: 50px;
    color: black;
    margin-top: 40px;
    margin-left: 50px;
}

.trusted_by_div p{
    font-size: 40px;
    color: black;
}

.trusted_by_div hr{
    border: 2px solid red;
    width: 20px;
    margin-top: 6px;
}

.trusted_by_img{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
}

.trusted_by_bg_img{
    background: url(./fd\ bg.avif);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.trusted_by_bg_img_transparent{
    background-color: transparent;
    height: 400px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 300px;
    margin-top: 40px;

}

.trusted_by_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin: 50px;
}

.trusted_slider h1{
    font-size: 100px;
    color: chartreuse;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}

.trusted_by_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-top: 50px;
}

.trusted_by_slider h1{
    font-size: 100px;
    color: #f5eeee;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
} 

.trusted_by_slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-top: 50px;
}

.trusted_by_slider h1{
    font-size: 100px;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.trusted_by_slider p{
    font-size: 40px;
    color: #f9f8f8;
    width: 500px;
    margin-left: 200px;
}

.text_class{
    display: flex;
}

.slick-prev::before
.slick-next::before {
    color: rgba(234, 5, 5, 0.805);
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 200px;
}

.slick-next {
    right: 200px;
}

.instagram_div{
    background-color: #f3ecff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.instagram_div h1{
    font-size: 50px;
    font-weight: 700px;
    color: brown;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.instagram_div p{
    font-size: 23px;
    margin-top: 10px;
}

.hr{
    border: 3px solid aqua;
    width: 16%;
    margin-left: 100px;
}

.instagram{
    display: flex;
   
}

.instagram_div{
    width: 100%;
}

.instagram_div p{
    font-size: 23px;
    margin-top: 10px;
}

/* .hr{
   text-align: center;
   justify-content: center;
} */

.h1{
    text-align: center;
    justify-content: center
}

.pra{
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.subscribe .subscribe2 h1{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    background-color: aquamarine;
    height: 50px;
    margin-top: 25px;
}

.subscribe .subscribe2 p{
    font-size: 20px;
    color: black;
    gap: 30px;
    margin-top: 30px;

}

.subscribe .subscribe2 input{
    font-size: 20px;
    border: 2px solid orange;
    height: 24px;
    margin-top: 30px;
}

.subscribe2{
    background-color: azure;
    border: 1px solid yellow;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    font-size: 30px;
}

.last .about_us p{
    width: 270px;
}

.img_flex img{
    height: 70px;
    width: 80px;
}

.img_flex{
    display: flex;
    gap: 10px;
}

.about_us a{
    color: rgb(11, 11, 10);
    background-color: rgb(238, 163, 65);
    border: 2px solid black;
    box-shadow: 2px 2px rgba(227, 48, 48, 0.553);
}

.about_us{
    margin-left: 90px;
}

.recent_post{
    margin-left: 300px;
}
.reach_us{
    margin-top: 100px;
    margin-left: 200px;
}

.reach_us h1{
    font-size: 30px;
    color: maroon;
    margin-right: 320px;
}

.reach_icon{
    background-color: antiquewhite;
    border: 5px solid black;
    box-shadow: 3px 3px gray;
    height: 50px;
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-left: 100px;
}

.footer_location{
    display: flex;
    gap: 20px;
    width: 400px;
    margin-top: 40px;
    margin-left: 100px;
}

.footer_location i{
    font-size: 30px;
    color: #ebe8ee;
}

.footer_location span{
    font-size: 20px;
    color: #000;
}

.footer_phone{
    display: flex;
    gap: 20px;
    width: 400px;
    margin-top: 30px;
    margin-left: 100px;
}

.footer_phone i{
    font-size: 20px;
    color: #000;
    margin-right: 100px;
}

.footer_phone span{
    font-size: 20px;
    color: #0000007e;
    margin-right: -240px;
}

.footer_lastpart{
    background-color: black;
    height: 100px;
    width: 100%;
    background-size: cover;
}

.footer_lastpart span{
    font-size: 20px;
    color: #f9f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}

.last{
    background:white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 100%;
    display: flex;
}

.subscribe{
    height: 100%;
    width: 100%;
}

